@import '../../assets/css/style.scss';
.inputStyle{
    display: flex;
    align-items: center;
    width: max-content;
    padding: 11px 17px;
}
.checkboxInput{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    @include flex(space-between, center);
    input {
        appearance: none;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border: 1.5px solid $blurColor;

        &:checked{
            background-color: $greenColor;
            border-color: #46760A;
        }
        &:checked ~ svg {
            display: block
        }
    }
    svg{
        @include position(50%,50%,-50%,-50%);
        width: 10px;
        height: 10px;
        display: none;
        pointer-events: none;
    }
}
//section
.filters{
    .filter{
        &_header{
            @include flex(space-between, center);
            .controls{
                @include flex(space-between);
                margin-left: auto;
                margin-right: 10px;
                &_item{
                    @include flex(space-between);
                    margin-right: 10px;
                    &.active{
                        svg{
                            stroke: $greenColor !important;
                        }
                    }
                }
            }
            .result{
                .saleBox{
                    display: inline-block;
                }
            }
        }
        &_form{
            display: flex;
            padding: 16px 0;
            ul{
                height: 100%;
            }
            &>div{
                margin-right: 16px;
            }
        }
        &_tags{
            color: #A9A9A9;
            span{
                font-weight: 600;
            }
            .saleBox{
                display: inline-flex;
                align-items: center;
                margin-left: 12px;
                svg{
                    width: 12px;
                    height: 12px;
                    margin-left: 10px;
                }
            }
        }
    }
}
.categoryProduct{
    .category{
        display: flex;
        & > div:first-child{
            padding-right: 5%;
            width: 30%;
        }
        &_grid{
            width: 100%;
            & > div{
                width: 30%;
                display: inline-block;
                vertical-align: top;
                margin-right: 3.333%;
                margin-bottom: 30px;
            }
        }
    }
}