@import '../../assets/css/style.scss';
.inputRange{
    .slider{
        position: relative;
        width: 200px;
        &_track, &_range{
            border-radius: 3px;
            height: 5px;
            position: absolute
        }
        &_track{
            width: 100%;
            background-color: $blurColor;
        }
        &_range{
            background-color: $greenColor;
            z-index: 2;
        }
    }
    .thumb{
        appearance: none;
        pointer-events: none;
        position: absolute;
        height: 0;
        width: 200px;
        outline: none;
        &::-webkit-slider-thumb{
            appearance: none;
            background-color: #fff;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            box-shadow: 0px 0px 1px 1px #d1d1d1;
            position: relative;
            margin-top: 4px;
            pointer-events: all;
        }
        &--zindex-3{
            z-index: 3;
        }
        &--zindex-4{
            z-index: 4;
        }
        
    }
    .cost{
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 20px;
        width: 200px;
        &_box{
            width: 80px;
        }
    }
    &_btns{
        position: relative;
        top: 40px;
        display: flex;
    }
}